In [118]:
# Create a list of integers.



def myfunction(list1):
    return list1


x = myfunction([1,22,3,4,5,6,7,8,92,2,2])

In [119]:
x.insert(0,'dg')

In [120]:
x

['dg', 1, 22, 3, 4, 5, 6, 7, 8, 92, 2, 2]

In [88]:
x.append('qee')

In [21]:
x

['shub', 2, 4, 56, 4, 23, 'f', 'f']

In [69]:
x.remove(2)

ValueError: list.remove(x): x not in list

In [15]:
x

['shub', 2, 4, 56, 4, 23]

In [99]:
x.pop()

4

In [329]:
x.insert(-1,5858)

In [330]:
x

[5858, 23, 5858, 4]

In [112]:
x.sort(reverse=True)

In [327]:
x.extend([23,4])

In [317]:
x

[[4, 4, 6], 5, 23, 4, 23, 4]

In [113]:
x

[22, 9, 8, 7, 6, 5, 4, 3, 1]

In [128]:
x

['dg', 1, 22, 3, 4, 5, 6, 7, 8, 92, 2, 2, 23, 23, 4, 23, 4]

In [166]:
x.insert(2,5)

In [134]:
x

['dg', 1, [4, 4, 6], [4], 4, 22, 3, 4, 5, 6, 7, 8, 92, 2, 2, 23, 23, 4, 23, 4]

In [135]:
x[2][2]

6

In [144]:
x.pop(1)

[4]

In [145]:
x

['dg', 4, 22, 3, 4, 5, 6, 7, 8, 92, 2, 2, 23, 23, 4]

In [158]:
x.clear()

In [160]:
x

[]

In [161]:
x

[]

In [168]:
x

[[4, 4, 6], 5, 23, 4]

In [169]:
x[::-1]

[4, 23, 5, [4, 4, 6]]

In [257]:
y = [4,5,6,7,9]

In [258]:
z = y.copy()

In [242]:
z

[4, 5, 6, 7]

In [243]:
y

[4, 5, 6, 7]

In [244]:
z[0] = 3

In [245]:
z

[3, 5, 6, 7]

In [247]:
y

[4, 5, 6, 7]

In [231]:
import copy

original = [[1, 2, 3], [4, 5, 6]]
shallow_copy = copy.copy(original)

shallow_copy[0][0] = 99

print("Original:", original) 
print("Shallow Copy:", shallow_copy)

Original: [[99, 2, 3], [4, 5, 6]]
Shallow Copy: [[99, 2, 3], [4, 5, 6]]

In [266]:
id(z[0])

140633335589264

In [265]:
id(y[0])

140633335589264

In [313]:
y.insert(0,[2,3])

In [314]:
y

[[2, 3], 2, 4, 5, 6, 7, 9]

In [283]:
z = [84,683,68,5,2,50]

In [279]:
d = sorted(z,reverse=True)

In [280]:
d

[683, 84, 68, 50, 5, 2]

In [281]:
z

[84, 683, 68, 5, 2, 50]

In [284]:
sorted(z,reverse=True)

[683, 84, 68, 50, 5, 2]

In [285]:
z.sort()

In [286]:
z

[2, 5, 50, 68, 84, 683]

In [287]:
z

[2, 5, 50, 68, 84, 683]

In [288]:
z.index(50)

2

In [289]:
z.index(399)

ValueError: 399 is not in list

In [297]:
try:
    z.index(399)
except Exception as E:
    print(str(E).split(' ')[0],"value don't have index")

399 value don't have index

In [302]:
try :
    z.index(42)
except ValueError as e:
    print(e,' hello')

42 is not in list  hello

In [303]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]

In [304]:
new = list(set(list1 + list2))

In [305]:
new

[1, 2, 3, 4, 5]

In [306]:
list1.extend(list2)

In [307]:
list1

[1, 2, 3, 3, 4, 5]

In [367]:
# unique list
def myfunction(mylist):
    unique = []
    
    for i in mylist:
        if i not in unique:
            unique.append(i)
    return sorted(unique,reverse=True)

mylist = [2,4,5,3,23,6,5,2,32,3,5,6,2,3,53,64,7,9]
x = myfunction(mylist)
x

[64, 53, 32, 23, 9, 7, 6, 5, 4, 3, 2]

In [373]:
def reverse(my_list):
    return my_list[::-1]
    


sample_list = [2,3,5,7,3]
x = reverse(sample_list)
x

[3, 7, 5, 3, 2]

In [380]:
x

[3, 7, 5, 3, 2]

In [388]:
for i in range(len(x)-1,-1,-1):
    print(i)

4
3
2
1
0

In [407]:
def reverse(my_list):
    reverse_list = []
    
    for i in range(len(my_list)-1 ,-1, -1):
        reverse_list.append(mylist[i])
    
    return reverse_list

mylist = [9]
x = reverse(mylist)
x

[9]

Sum of List Elements
Write a Python function that takes a list of numbers and returns the sum of all elements.

In [410]:
def myfunction(list1):
    suming = 0
    for i in list1:
        suming +=i
    return suming


sample = [3,4,2,5,2]
x = myfunction(sample)
x

16

List of Even and Odd Numbers
Given a list of numbers, write a program to separate the even and odd numbers into two separate lists.

In [419]:
def seperate(mylist):
    even = []
    odd = []
    for i in mylist:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    return even,odd


sample = [3,6,2,6,2,6,8,2,9,2,0,1]
x= seperate(sample)
x

([6, 2, 6, 2, 6, 8, 2, 2, 0], [3, 9, 1])

Rotate a List
Write a function to rotate a list by k positions to the right. For example, rotating [1, 2, 3, 4, 5] by 2 results in [4, 5, 1, 2, 3].

In [465]:
def rotate(mylist,k): 
    return mylist[-k:] + mylist[:-k]
        
k = 4
sample = [1,2,3,4,5]
x = rotate(sample,k)
x

[2, 3, 4, 5, 1]

Find the Largest and Smallest Number
Write a program that finds the largest and smallest numbers in a list without using built-in functions like min() and max().

In [472]:
def myfunction(list1):
    max_num = min_num = list1[0]
    for i in list1[1:]:
        if i > max_num:
            max_num = i
        elif i < min_num:
            min_num = i
       
    return max_num ,min_num
    

sample = [2,4,7,4,74,33,66,222,658]
x_is_max,y_is_min = myfunction(sample)

In [473]:
x_is_max

658

In [474]:
y_is_min

2

Remove Duplicates from a List
Write a Python function that removes duplicate elements from a list while maintaining the order of the remaining elements.

In [479]:
def myfunction(list1):
    unique = []
    for i in list1:
        if i not in unique:
            unique.append(i)
    return unique


sample = [3,5,8,43,6745,8,4,67,6,4,2,8,6,3]
x = myfunction(sample)
x

[3, 5, 8, 43, 6745, 4, 67, 6, 2]

Count Occurrences of an Element
Write a program that counts the number of occurrences of a specific element in a list.

In [483]:
def myfunction(list1):
    dict1 = {}
    for i in list1:
        if i in dict1:
            dict1[i]+=1
        else:
            dict1[i] = 1
    return dict1
            

sample = [2,4545,6734,7,32,456,34,7,9]
x = myfunction(sample)
x

{2: 1, 4545: 1, 6734: 1, 7: 2, 32: 1, 456: 1, 34: 1, 9: 1}

Flatten a Nested List
Write a function that flattens a nested list. For example, given [1, [2, [3, 4], 5], 6], return [1, 2, 3, 4, 5, 6].

In [721]:
def myfunction(list1):
    flat = []
    nested = list1
    
    while nested:
            item = nested.pop()
            if isinstance(item,list):
                for i in item:
                    nested.append(i)
            else:
                flat.append(item)
    return flat
sample = [1, [2, [3, 4], 5], 6]
x = myfunction(sample)
x

[6, 5, 4, 3, 2, 1]

In [722]:
x

[6, 5, 4, 3, 2, 1]

Finding Pairs with a Specific Sum
Given a list of integers, write a program to find all pairs of numbers that add up to a specific target sum.

In [796]:
def pair(t,list1):
    collect = []
    for i in range(len(list1)):   
        for j in range(i+1,len(list1)):  
            if list1[i] + list1[j] == t:
                collect.append((list1[i],list1[j]))
    return collect

sample = [3,4,2,5,8,7,6,9]
target = 10
x = pair(target,sample)
x

[(3, 7), (4, 6), (2, 8)]

In [738]:
# sort element

In [798]:
def sorting(list1):
    for i in range(len(list1)):
        for j in range(i+1,len(list1)):
            if list1[i] < list1[j]:
                list1[i],list1[j] = list1[j],list1[i]            
    return list1

sample = [32,44,9,5,23,78,325,65,7]
x = sorting(sample)
x

[325, 78, 65, 44, 32, 23, 9, 7, 5]

Finding Pairs with a Specific Sum Given a list of integers, write a program to find all pairs of numbers that add up to a specific target sum.

In [831]:
def myfunction(list1):
    collect = {}
    for i in list1:
        if i in collect:
            collect[i]+=1
        else:
            collect[i]=1
    return collect


sample = [1,3,2,6,854,6,9,43,657,99,43,6,5,4,3,6,7,7]
x = myfunction(sample)
print(x)

{1: 1, 3: 2, 2: 1, 6: 4, 854: 1, 9: 1, 43: 2, 657: 1, 99: 1, 5: 1, 4: 1, 7: 2}

In [830]:
x.keys()

dict_keys([1, 3, 2, 6, 854, 9, 43, 657, 99, 5, 4, 7])

In [833]:
num1,num2 = tuple(x.keys()),tuple(x.values())

In [838]:
mydict = {num1:num2}

In [839]:
mydict

{(1, 3, 2, 6, 854, 9, 43, 657, 99, 5, 4, 7): (1,
  2,
  1,
  4,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  2)}

In [842]:
result_dict = list(zip(num1, num2))

In [843]:
result_dict

[(1, 1),
 (3, 2),
 (2, 1),
 (6, 4),
 (854, 1),
 (9, 1),
 (43, 2),
 (657, 1),
 (99, 1),
 (5, 1),
 (4, 1),
 (7, 2)]

In [852]:
list1

[3, 4, 2, 5, 8, 8, 6, 9, 3, 4, 5]

In [845]:
list2

[3, 4, 5]

In [846]:
new = list1+list2

In [847]:
new

[3, 4, 2, 5, 8, 8, 6, 9, 3, 4, 5]

In [848]:
list1.extend(list2)

None

In [850]:
new2