In [ ]:
Real-Time Scenario-Based Questions
Data Processing:

You have a list of transaction amounts. Write a list comprehension to apply a 10% discount 
to all amounts over $100.

Web Development:

Given a list of URLs, write a list comprehension to extract the domain names 
(without www and .com) from the URLs.

Data Cleaning:

You are working with a dataset that includes some missing values (None). 
Write a list comprehension to replace all None values with the average of the 
non-None values in the list.

Text Processing:

Given a list of sentences, write a list comprehension to create a list of
sentences that contain the word "data".

In [ ]:
#You have a list of transaction amounts.
# Write a list comprehension to apply a 10% discount to all amounts over $100.
# Web Development:

In [110]:
# learned 1% 10% 
# 340 10% = 34
# 340 1% = 3.4

# Assume 39 % discount
# any amount * 0.61

In [116]:
#eg 39 % discount
print(340 * 0.61)

print((34*4)-3.4)  #39% amount

print(340 - 132.6)

207.4
132.6
207.4

In [108]:
p=[32,534,74,84,234,86,7534,23875]

In [94]:
[(i,i-(i*0.10)) for i in p if i > 100]

[(534, 480.6), (234, 210.6), (7534, 6780.6), (23875, 21487.5)]

In [101]:
#not mine
[amount * 0.9 if amount > 100 else amount for amount in p if amount > 100]

[480.6, 210.6, 6780.6, 21487.5]

In [109]:
[i* 0.85 for i in p ]

[27.2, 453.9, 62.9, 71.39999999999999, 198.9, 73.1, 6403.9, 20293.75]

In [ ]:
# Given a list of URLs, write a list comprehension to extract the 
# domain names (without www and .com) from the URLs.
# Data Cleaning:

In [ ]:
# no light trying to get it .i came so far .split('/')[2].split('.')[2]

In [117]:
urls = ["https://www.google.com", "https://www.github.com", "http://www.openai.com"]

In [119]:
[i.split('/')[2].split('.')[1] for i in urls]

['google', 'github', 'openai']

In [121]:

# You are working with a dataset that includes some missing values (None). 
# Write a list comprehension to replace all None values with the average of the 
# non-None values in the list.
# Text Processing:

In [137]:
data = [10, 20, None, 40, None, 60, 80, None]

In [138]:
[i if i is not None else sum([i for i in data if i!= None])/len(data) for i in data ]

# in above the len is 8

[10, 20, 26.25, 40, 26.25, 60, 80, 26.25]

In [143]:
data = [10, 20, None, 40, None, 60, 80, None]

In [159]:
[i if i is not None else sum([i for i in data if i!=None])/len([i for i in data if i!=None])
 for i in data]

# in above the len is 5

[10, 20, 42.0, 40, 42.0, 60, 80, 42.0]

In [182]:
import pandas as pd

In [195]:
data = {'values': [10, 20, None, 40, None, 60, 80, None]}
df = pd.DataFrame(data)

In [196]:
average = df['values'].mean()
df['values'] = [x if pd.notnull(x) else average for x in df['values']]

In [197]:
df

   values
0    10.0
1    20.0
2    42.0
3    40.0
4    42.0
5    60.0
6    80.0
7    42.0

In [ ]:
Text Processing:

Given a list of sentences, write a list comprehension to create a list of
sentences that contain the word "data".

In [180]:
sentences = [
    "Data science is an exciting field.",
    "I enjoy reading books.",
    "The data shows a significant trend.",
    "She loves cooking.",
    "Big data analytics is the future.",
    "They are going to the park.",
    "Understanding data is crucial in research."
]

In [198]:
[ x for x in sentences if 'data' in x.lower()]

['Data science is an exciting field.',
 'The data shows a significant trend.',
 'Big data analytics is the future.',
 'Understanding data is crucial in research.']

In [199]:
#not mine #don't look at it #skip
data = [10, 20, None, 40, None, 60, 80, None]

# Step 1: Calculate the average of non-None values
average = sum(x for x in data if x is not None) / len([x for x in data if x is not None])

# Step 2: Replace None values with the average
filled_data = [x if x is not None else average for x in data]

print(filled_data)

[10, 20, 42.0, 40, 42.0, 60, 80, 42.0]

# Dictionary comprehension

In [11]:
p = ['top','mop','cat','cook','book']

In [10]:
print("3:['top','mop','cat'],4:['cook','book']")

3:['top','mop','cat'],4:['cook','book']

In [21]:
[set(len(i) for i in p )]

[{3, 4}]

In [28]:
{j:[i for i in p if len(i)==j] for j in set(len(i) for i in p )}

{3: ['top', 'mop', 'cat'], 4: ['cook', 'book']}

In [29]:
p = ['top','mop','cat','cook','book']

In [32]:
{j:[i for i in p if len(i)==j] for j in set([len(i) for i in p])}

{3: ['top', 'mop', 'cat'], 4: ['cook', 'book']}

In [33]:
p1 = ['python', 'java','hadoop','ml ']

In [39]:
{i:len(i.strip()) for i in p1 }

{'python': 6, 'java': 4, 'hadoop': 6, 'ml ': 2}

In [ ]:
# Question: Write a dictionary comprehension to create a dictionary 
#     where the keys are the first 10 positive integers
#     and the values are their squares.

In [41]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Question: Given a dictionary d = {'a': 1, 'b': 2, 'c': 3, 'd': 4},
#     use dictionary comprehension to create a new dictionary containing 
#     only items with values greater than 2.

In [44]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [65]:
{ k:v for k,v in d.items() if v > 2 }

{'c': 3, 'd': 4}

In [ ]:
# Transforming Keys and Values:

# Question: Write a dictionary comprehension that 
#     converts all keys in a dictionary to uppercase.

In [67]:
{k.upper():v for k,v in d.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [68]:
# Question: Given two lists, keys = ['name', 'age', 'gender'] and 
#     values = ['Alice', 25, 'Female'], 
#     create a dictionary using dictionary comprehension.

In [69]:
keys = ['name', 'age', 'gender']
values = ['Alice', 25, 'Female']

In [74]:
{k:v for k,v in zip(keys,values)}

{'name': 'Alice', 'age': 25, 'gender': 'Female'}

In [75]:
# Question: Given a dictionary d = {'a': 1, 'b': 2, 'c': 3}, 
#     use dictionary comprehension to create an inverse dictionary 
#     where keys become values and values become keys.

In [76]:
d = {'a': 1, 'b': 2, 'c': 3}

In [79]:
{v:k for k,v in d.items()}

{1: 'a', 2: 'b', 3: 'c'}

In [200]:
# Question: You are given a string, and you need to create a 
# dictionary where the keys are the characters in the string, 
# and the values are the frequency of those characters.
# Example: For the string "banana", the dictionary should be {'b': 1, 'a': 3, 'n': 2}.

In [204]:
str_ = 'banana'

{char: str_.count(char) for char in str_}

{'b': 1, 'a': 3, 'n': 2}

In [206]:
# Scenario: Grouping Data by Key

# Question: Suppose you have a list of tuples representing student grades,
#     where each tuple is in the format (student_name, grade). Write a dictionary
#     comprehension to group these grades by student name.
# Example: For grades = [('John', 'A'), ('Jane', 'B'), ('John', 'C')], 
#     the resulting dictionary should be {'John': ['A', 'C'], 'Jane': ['B']}.

In [233]:
grades = [('John', 'A'), ('Jane', 'B'), ('John', 'C')]

In [254]:
{k:[y[-1] for x in grades for y in x if y[0]==k] for k,v2 in grades}

{'John': [], 'Jane': []}

In [252]:
#not mine bitch
{k: [v for k2, v in grades if k2 == k] for k, _ in grades}

{'John': ['A', 'C'], 'Jane': ['B']}

In [255]:
# Question: Given a dictionary of dictionaries, where the outer dictionary represents 
#     categories, and the inner dictionaries represent items and their prices, write a 
# nested dictionary comprehension to reduce all prices by 20%.
# Example: For inventory =
# {'fruits': {'apple': 100, 'banana': 60}, 'vegetables': {'carrot': 40, 'broccoli': 80}}, 
# the result should be 
# {'fruits': {'apple': 80, 'banana': 48}, 'vegetables': {'carrot': 32, 'broccoli': 64}}.
# Hint: Use a nested comprehension: {outer_k: {inner_k: inner_v * 0.8 for inner_k, inner_v 
#       in  outer_v.items()} for outer_k, outer_v in inventory.items()}

In [275]:
inventory = {
    'fruits': {'apple': 100, 'banana': 60},
    'vegetables': {'carrot': 40, 'broccoli': 80}
}

In [276]:
inventory

{'fruits': {'apple': 100, 'banana': 60},
 'vegetables': {'carrot': 40, 'broccoli': 80}}

In [279]:
{
    outer_k:{inner_k:inner_v * 0.8 for inner_k,inner_v in outer_v.items() } for outer_k,outer_v in inventory.items()
}

{'fruits': {'apple': 80.0, 'banana': 48.0},
 'vegetables': {'carrot': 32.0, 'broccoli': 64.0}}

In [ ]:
# Scenario: Transforming and Filtering

# Question: You have a dictionary representing items and their prices, and you want to
#     apply a discount to items that are above a certain price threshold. Write a dictionary 
#     comprehension to create a new dictionary with discounted prices.
# Example: For prices = {'apple': 120, 'banana': 80, 'cherry': 150},
#     apply a 10% discount to items costing more than 100.
# 
# Scenario: Nested Dictionary Comprehension

In [283]:
prices = {'apple': 120, 'banana': 80, 'cherry': 150}

In [286]:
{k:v*0.9 for k,v in prices.items() if v >100}
#you need to apply tenary operator #this is wrong in some sort of it

{'apple': 108.0, 'cherry': 135.0}

In [289]:
{k:v if v<100 else v*0.9 for k,v in prices.items() }
#i guess this is correct

{'apple': 108.0, 'banana': 80, 'cherry': 135.0}

In [290]:
#not mine
{k: v * 0.9 if v > 100 else v for k, v in prices.items()}

{'apple': 108.0, 'banana': 80, 'cherry': 135.0}