In [32]:
#lambda

# (lambda input expression : output expression)

In [33]:
(lambda x : x**2)(2)

4

In [34]:
(lambda x,y : x+y)(3,5)

8

In [36]:
#map
#give obj so store in any list(),str(),set()


# map( function, data structure/sequence)
# to map each element

In [40]:
def even_odd_check(ele):
    if ele%2 == 0:
        return 'even'
    else:
        return 'odd'
    
nums = [32,536,547,23564,6743,234,89,68,48,28,23,96]

In [41]:
list(map(even_odd_check,nums))

['even',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'even']

In [42]:
list(map(lambda x : 'even' if x%2==0 else 'odd',nums))

['even',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'odd',
 'even']

In [43]:
gen = ['m','f','m','dsg','f','m','fdg']

In [44]:
list(map(lambda x : 1 if x=='m' else 0 if x=='f' else 'invalid',gen))

[1, 0, 1, 'invalid', 0, 1, 'invalid']

In [57]:
data = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

In [59]:
list(map(lambda x : 1 if x=='jan' else 
                 2 if x=='feb' else 
                 3 if x=='mar' else 
                 4 if x=='apr' else 
                 5 if  x=='may' else 
                 6 if x=='jun' else  
                 7 if x=='jul'else 
                 8 if x=='aug' else 
                 9 if x=='sep' else 
                 10 if x=='oct' else 
                 11 if x=='nov'else 
                 12 if x=='dec' else 
                 'invalid',data))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [61]:
#filter 
#give obj so store in any list(),str(),set()

# if condition is true then filter it

#(filter( function, sequence/data structure))

In [66]:
data = [2132,435,435,23253,6523,56447,6542,'dsfas','dsga']
def check(ele):
    if str(ele).isnumeric():
        return True
    else:
        return False

list(filter(check,data))

[2132, 435, 435, 23253, 6523, 56447, 6542]

In [73]:
list(filter(lambda x: str(x).isnumeric(),data))

[2132, 435, 435, 23253, 6523, 56447, 6542]

In [72]:
list(filter(lambda x:  not str(x).isnumeric(),data))

['dsfas', 'dsga']

In [80]:
email_list = [
    # Personal Emails
    "john.doe@gmail.com",
    "emily.smith@yahoo.com",
    "michael.brown@hotmail.com",
    
    # Professional Emails
    "jane.doe@companyname.com",
    "david.jones@corporatename.org",
    "sarah.johnson@businessname.net",
    
    # Educational Emails
    "student123@university.edu",
    "john.doe@student.school.edu",
    "emily2024@college.edu",
    
    # Temporary/Disposable Emails
    "user123@tempmail.com",
    "throwaway456@mailinator.com",
    "testuser789@yopmail.com",
    
    # Generic Emails for Customer Support or Inquiries
    "support@companyname.com",
    "info@organization.org",
    "contact@businessname.net",
    
    # Fictional Emails for Testing
    "test.user@example.com",
    "fake.email@domain.com",
    "sample.account@testdomain.com"
]

In [84]:
list(map(lambda x : x.split('@')[0],email_list))

['john.doe',
 'emily.smith',
 'michael.brown',
 'jane.doe',
 'david.jones',
 'sarah.johnson',
 'student123',
 'john.doe',
 'emily2024',
 'user123',
 'throwaway456',
 'testuser789',
 'support',
 'info',
 'contact',
 'test.user',
 'fake.email',
 'sample.account']

In [ ]:
# How would you 
# convert a list of strings to a list of integers using map() and a lambda function?

In [90]:
ls =['1','2',5,'3','df']
list(map(lambda x: int(x),['1','2',5,'3']))

[1, 2, 5, 3]

In [62]:
#use both so here lambda will filter data and map will apply to each filtered data

list(map(lambda x : x * 0.9 ,filter(lambda x : x>100,[23,64,67,865,236,86,12])))

[778.5, 212.4]

In [92]:
# Scenario 1: Data Transformation
# You have a list of tuples representing student names and their scores. 
# You want to create a list of names for students who scored more than 75. 

# How would you achieve this using filter() and a lambda function?

In [91]:
tup = [('shub',54),('skshay',93),('omkar',298)]

In [95]:
list(filter(lambda x :x[1]>75 ,tup))

[('skshay', 93), ('omkar', 298)]

In [ ]:
# Scenario 2: Data Normalization
# Given a list of integers representing various measurements, 
# you need to normalize these values so that they fall within the range of 0 to 1.
# How would you do this using map() and a lambda function?

In [103]:
measurement = [100,223,343,754,8654]
min_m = min(measurement)
max_m = max(measurement)

list(map(lambda x: (x- min_m)/(max_m-min_m) ,measurement))

#keep in mind normalise formula x-min/max-min

[0.0, 0.014379237783493103, 0.028407762450315642, 0.07645545943418283, 1.0]

In [105]:

# Scenario 3: Text Processing
# You are given a list of sentences, and you need to return a list 
# containing only those sentences that have more than 5 words. 
# How would you use filter() and lambda to achieve this?

In [114]:
sentences = [
    "This is a short sentence.",
    "This sentence has exactly six words.",
    "Another one.",
    "Here we have a longer sentence that contains more than five words."]
list(filter(lambda x: len(x.split()) > 5 ,sentences))

['This sentence has exactly six words.',
 'Here we have a longer sentence that contains more than five words.']

In [115]:
# Scenario 4: Applying Discounts
# Suppose you have a list of product prices,
# and you want to apply a 10% discount to each price and round the result
# to two decimal places.
# How would you implement this using map() and a lambda function?

In [116]:
price = [324,434,65534,754,23,63,325]

list(map(lambda x : round(x * 0.9,2),price))

[291.6, 390.6, 58980.6, 678.6, 20.7, 56.7, 292.5]

In [119]:
# Scenario 5: Data Filtering
# You are working with a list of dictionaries, where each dictionary contains 
# information about a product (e.g., {"name": "Product A", "price": 100}). 
# Write a lambda function to filter out products that cost less than 50.

In [123]:
products = [{"name": "Product A", "price": 30}, {"name": "Product B", "price": 60}, {"name": "Product C", "price": 45}, {"name": "Product D", "price": 80}]

list(filter(lambda x :x['price'] >=50 ,products))

[{'name': 'Product B', 'price': 60}, {'name': 'Product D', 'price': 80}]

In [124]:
# Scenario 6: String Manipulation
# Given a list of strings, convert all strings to uppercase 
# if they contain the letter "a" and leave them unchanged otherwise.
# How would you implement this using map() and lambda?

In [125]:
strings = ["apple", "banana", "cherry", "date", "fig"]

list(map(lambda x : x.upper() if 'a' in x else x, strings ))

['APPLE', 'BANANA', 'cherry', 'DATE', 'fig']

In [126]:


# Scenario 7: Extracting Data
# You have a list of dictionaries containing user data 
# (e.g., {"name": "John", "age": 30}). Write a lambda function 
# to extract the ages of all users over 25 using filter() and map() together.

In [131]:
users = [{"name": "John", "age": 30}, {"name": "Jane", "age": 20}, {"name": "Doe", "age": 27}]


list(map(lambda x:x['age'],filter(lambda x:x['age'] > 25,users)))

[30, 27]