In [1]:
from pyspark.sql import SparkSession

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.5
Trying to create a Glue session for the kernel.
Session Type: glueetl
Session ID: 5feccf9a-9649-4ca2-a23f-e8bffde7af3f
Applying the following default arguments:
--glue_kernel_version 1.0.5
--enable-glue-datacatalog true
Waiting for session 5feccf9a-9649-4ca2-a23f-e8bffde7af3f to get into ready status...
Session 5feccf9a-9649-4ca2-a23f-e8bffde7af3f has been created.

In [2]:
spark1 = SparkSession.builder.appName('Dec').getOrCreate()

In [3]:
df = spark.read.csv('s3://shubhnaa/prod.csv',header=True,inferSchema=True)

In [4]:
df.show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
| null|    null| 25.0|Electronics|
| null|    null| null|       null|
|    3|Widget C| 30.0|   Clothing|
|    4|    null| 20.0|     Sports|
| null|Widget E| null|   Clothing|
|    6|Widget F| 35.0|       null|
| null|Widget G| null|     Sports|
|    8|    null| 30.0|Electronics|
|    9|        | 40.0|   Clothing|
|   10|    null| null|Electronics|
| null|    null| null|           |
+-----+--------+-----+-----------+

In [1]:
#filter

In [5]:
df.filter('name is null').show()

+-----+----+-----+-----------+
|prdid|name|price|   category|
+-----+----+-----+-----------+
| null|null| 25.0|Electronics|
| null|null| null|       null|
|    4|null| 20.0|     Sports|
|    8|null| 30.0|Electronics|
|   10|null| null|Electronics|
| null|null| null|           |
+-----+----+-----+-----------+

In [6]:
df.filter(df['prdid'].isNull()).show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
| null|    null| 25.0|Electronics|
| null|    null| null|       null|
| null|Widget E| null|   Clothing|
| null|Widget G| null|     Sports|
| null|    null| null|           |
+-----+--------+-----+-----------+

In [7]:
df.filter('prdid is null and price is null').show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
| null|    null| null|    null|
| null|Widget E| null|Clothing|
| null|Widget G| null|  Sports|
| null|    null| null|        |
+-----+--------+-----+--------+

In [2]:
#if want sql then create view

In [8]:
df.createOrReplaceTempView('temp')

In [9]:
spark1.sql('select * from temp').show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
| null|    null| 25.0|Electronics|
| null|    null| null|       null|
|    3|Widget C| 30.0|   Clothing|
|    4|    null| 20.0|     Sports|
| null|Widget E| null|   Clothing|
|    6|Widget F| 35.0|       null|
| null|Widget G| null|     Sports|
|    8|    null| 30.0|Electronics|
|    9|        | 40.0|   Clothing|
|   10|    null| null|Electronics|
| null|    null| null|           |
+-----+--------+-----+-----------+

In [10]:
spark1.sql("select * from temp where name like 'W%'").show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
|    3|Widget C| 30.0|   Clothing|
| null|Widget E| null|   Clothing|
|    6|Widget F| 35.0|       null|
| null|Widget G| null|     Sports|
+-----+--------+-----+-----------+

In [11]:
spark1.sql('select * from temp where category is not null').show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
| null|    null| 25.0|Electronics|
|    3|Widget C| 30.0|   Clothing|
|    4|    null| 20.0|     Sports|
| null|Widget E| null|   Clothing|
| null|Widget G| null|     Sports|
|    8|    null| 30.0|Electronics|
|    9|        | 40.0|   Clothing|
|   10|    null| null|Electronics|
| null|    null| null|           |
+-----+--------+-----+-----------+

In [12]:
df.filter(df.category=='Sports').show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
|    4|    null| 20.0|  Sports|
| null|Widget G| null|  Sports|
+-----+--------+-----+--------+

In [13]:
df.filter(df.category=='Sports').select(df.name,df.price).show()

+--------+-----+
|    name|price|
+--------+-----+
|    null| 20.0|
|Widget G| null|
+--------+-----+

In [14]:
df.show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
| null|    null| 25.0|Electronics|
| null|    null| null|       null|
|    3|Widget C| 30.0|   Clothing|
|    4|    null| 20.0|     Sports|
| null|Widget E| null|   Clothing|
|    6|Widget F| 35.0|       null|
| null|Widget G| null|     Sports|
|    8|    null| 30.0|Electronics|
|    9|        | 40.0|   Clothing|
|   10|    null| null|Electronics|
| null|    null| null|           |
+-----+--------+-----+-----------+

In [15]:
l = ['Clothing','Sports']

In [16]:
df.filter(df.category.isin(l)).show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
|    3|Widget C| 30.0|Clothing|
|    4|    null| 20.0|  Sports|
| null|Widget E| null|Clothing|
| null|Widget G| null|  Sports|
|    9|        | 40.0|Clothing|
+-----+--------+-----+--------+

In [17]:
df.filter(df.name.like('Widget C')).show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
|    3|Widget C| 30.0|Clothing|
+-----+--------+-----+--------+

In [18]:
df.filter(df.name.startswith('W')).show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    1|Widget A| 25.0|Electronics|
|    2|Widget B| null|Electronics|
|    3|Widget C| 30.0|   Clothing|
| null|Widget E| null|   Clothing|
|    6|Widget F| 35.0|       null|
| null|Widget G| null|     Sports|
+-----+--------+-----+-----------+

In [19]:
df.filter(df.price > 25).show()

+-----+--------+-----+-----------+
|prdid|    name|price|   category|
+-----+--------+-----+-----------+
|    3|Widget C| 30.0|   Clothing|
|    6|Widget F| 35.0|       null|
|    8|    null| 30.0|Electronics|
|    9|        | 40.0|   Clothing|
+-----+--------+-----+-----------+

In [20]:
df.filter((df.prdid.isin([1,2,3,4,5,6])) & (df.price > 25)).show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
|    3|Widget C| 30.0|Clothing|
|    6|Widget F| 35.0|    null|
+-----+--------+-----+--------+

In [21]:
df.filter((df.price > 10) & (df.category == 'Sports')).show()

+-----+----+-----+--------+
|prdid|name|price|category|
+-----+----+-----+--------+
|    4|null| 20.0|  Sports|
+-----+----+-----+--------+

In [23]:
from pyspark.sql.functions import col

In [24]:
df.filter((df.price > 20) & (col('category')=='Clothing')).show()

+-----+--------+-----+--------+
|prdid|    name|price|category|
+-----+--------+-----+--------+
|    3|Widget C| 30.0|Clothing|
|    9|        | 40.0|Clothing|
+-----+--------+-----+--------+

In [25]:
df.count()

13

In [31]:
df.columns

['prdid', 'name', 'price', 'category']

In [32]:
len(df.columns)

4

In [3]:
# group by

In [36]:
df1 = spark1.read.csv('s3://shubhnaa/Amazon Sale Report.csv',inferSchema = True, header=True)

In [37]:
df1.show()

+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|   Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|    ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          null|  0|     INR|647.62|     MUMBAI|   MAHARASHTRA|        400081.0|          IN|                null|false|   Easy Ship|       null|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|     KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|   MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        null|       null|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|   J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          null|  0|     INR|753.33| PUDUCHERRY|    PUDUCHERRY|        605008.0|          IN|                null|false|   Easy Ship|       null|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD| UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        null|       null|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|   J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|    CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        null|       null|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|     TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited|  SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    null|  null|  HYDERABAD|     TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        null|       null|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|    TAMIL NADU|        600041.0|          IN|                null|false|        null|       null|
|   10|407-5633625-6970741|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3160|     JNE3160-KR-G-S|        kurta|   S|B07K3YQLF1|       Shipped|  1|     INR| 685.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|   11|171-4638481-6326716|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3500|      JNE3500-KR-XS|        kurta|  XS|B098117DJ3|       Shipped|  1|     INR| 364.0|      NOIDA| UTTAR PRADESH|        201303.0|          IN|                null|false|        null|       null|
|   12|405-5513694-8146768|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|      JNE3405-KR-XS|        kurta|  XS|B081XCMYXJ|       Shipped|  1|     INR| 399.0|  Amravati.|   MAHARASHTRA|        444606.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   13|408-7955685-3083534|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET182|    SET182-KR-DH-XS|          Set|  XS|B085HS947T|       Shipped|  1|     INR| 657.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|                null|false|        null|       null|
|   14|408-1298370-1920302|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|   J0351|        J0351-SET-L|          Set|   L|B09CSSQY4F|       Shipped|  1|     INR| 771.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   15|403-4965581-9520319|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|PJNE3368|    PJNE3368-KR-6XL|        kurta| 6XL|B09PY99SVJ|       Shipped|  1|     INR| 544.0|   GUNTAKAL|ANDHRA PRADESH|        515801.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   16|406-9379318-6555504|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3721|     JNE3721-KR-XXL|        kurta| XXL|B099FCT65D|       Shipped|  1|     INR| 329.0|     JAIPUR|     RAJASTHAN|        302020.0|          IN|IN Core Free Ship...|false|        null|       null|
|   17|405-9013803-8009918|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3405|      JNE3405-KR-XL|        kurta|  XL|B081WT6GG7|       Shipped|  1|     INR| 399.0|  NEW DELHI|         DELHI|        110074.0|          IN|                null|false|        null|       null|
|   18|402-4030358-5835511|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3697|     JNE3697-KR-XXL|        kurta| XXL|B098133PV5|       Shipped|  1|     INR| 458.0|    Gurgaon|       HARYANA|        122004.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   19|405-5957858-1051546|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET254|    SET254-KR-NP-XS|          Set|  XS|B0983DDPL6|       Shipped|  1|     INR| 886.0|  BENGALURU|     KARNATAKA|        560017.0|          IN|                null|false|        null|       null|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 20 rows

In [ ]:
column = []

In [43]:
df1.isnull().show()   #error

AttributeError: 'DataFrame' object has no attribute 'isnull'

In [60]:
df.filter(df.isnull).show()     #error

AttributeError: 'DataFrame' object has no attribute 'isnull'

In [52]:
df1.summary().show()

+-------+------------------+-------------------+--------+---------+----------+--------------+------------------+------+--------------+--------+------+----------+--------------+------------------+--------+-----------------+--------------------+------------------+------------------+------------+--------------------+------------+
|summary|             index|           Order ID|    Date|   Status|Fulfilment|Sales Channel |ship-service-level| Style|           SKU|Category|  Size|      ASIN|Courier Status|               Qty|currency|           Amount|           ship-city|        ship-state|  ship-postal-code|ship-country|       promotion-ids|fulfilled-by|
+-------+------------------+-------------------+--------+---------+----------+--------------+------------------+------+--------------+--------+------+----------+--------------+------------------+--------+-----------------+--------------------+------------------+------------------+------------+--------------------+------------+
|  count|            128975|             128975|  128975|   128975|    128975|        128975|            128975|128975|        128975|  128975|128975|    128975|        122103|            128975|  121180|           121180|              128942|            128942|            128942|      128942|               79822|       39277|
|   mean|           64487.0|               null|    null|     null|      null|          null|              null|  null|          null|    null|  null|      null|          null|0.9044310912967629|    null|648.5614647631625|                 1.0|              null| 463966.2365094384|        null|                null|        null|
| stddev|37232.019821653514|               null|    null|     null|      null|          null|              null|  null|          null|    null|  null|      null|          null|0.3133535856501448|    null|281.2116872291527|                null|              null|191476.76494135408|        null|                null|        null|
|    min|                 0|171-0000547-8192359|03-31-22|Cancelled|    Amazon|     Amazon.in|         Expedited| AN201|   AN201-RED-M|  Blouse|   3XL|B01LYC0N7Q|     Cancelled|                 0|     INR|              0.0|(Chikmagalur dist...|ANDAMAN & NICOBAR |          110001.0|          IN|Amazon PLCC Free-...|   Easy Ship|
|    25%|             32237|               null|    null|     null|      null|          null|              null|  null|          null|    null|  null|      null|          null|                 1|    null|            449.0|                 1.0|              null|          382421.0|        null|                null|        null|
|    50%|             64494|               null|    null|     null|      null|          null|              null|  null|          null|    null|  null|      null|          null|                 1|    null|            605.0|                 1.0|              null|          500033.0|        null|                null|        null|
|    75%|             96733|               null|    null|     null|      null|          null|              null|  null|          null|    null|  null|      null|          null|                 1|    null|            788.0|                 1.0|              null|          600024.0|        null|                null|        null|
|    max|            128974|S02-9878098-5959538|06-29-22| Shipping|  Merchant|    Non-Amazon|          Standard|SET462|SET462-KR-NP-S|   kurta|   XXL|B0B4GDJ9MK|     Unshipped|                15|     INR|           5584.0|                लखनऊ|          rajsthan|          989898.0|          IN|VPC-44571-4420185...|   Easy Ship|
+-------+------------------+-------------------+--------+---------+----------+--------------+------------------+------+--------------+--------+------+----------+--------------+------------------+--------+-----------------+--------------------+------------------+------------------+------------+--------------------+------------+

In [54]:
from pyspark.sql.functions import col,when,count,isnan

In [57]:
df1.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df1.columns]
   ).show()
#google # error

#learn that null is the no value in any column and NAN is the no value in numeric column only (NAN Not A Number)

AnalysisException: cannot resolve 'isnan(B2B)' due to data type mismatch: argument 1 requires (double or float) type, however, 'B2B' is of boolean type.;
'Aggregate [count(CASE WHEN (isnan(cast(index#479 as double)) OR isnull(index#479)) THEN index END) AS index#4862L, count(CASE WHEN (isnan(cast(Order ID#480 as double)) OR isnull(Order ID#480)) THEN Order ID END) AS Order ID#4864L, count(CASE WHEN (isnan(cast(Date#481 as double)) OR isnull(Date#481)) THEN Date END) AS Date#4866L, count(CASE WHEN (isnan(cast(Status#482 as double)) OR isnull(Status#482)) THEN Status END) AS Status#4868L, count(CASE WHEN (isnan(cast(Fulfilment#483 as double)) OR isnull(Fulfilment#483)) THEN Fulfilment END) AS Fulfilment#4870L, count(CASE WHEN (isnan(cast(Sales Channel #484 as double)) OR isnull(Sales Channel #484)) THEN Sales Channel  END) AS Sales Channel #4872L, count(CASE WHEN (isnan(cast(ship-service-level#485 as double)) OR isnull(ship-service-level#485)) THEN ship-service-level END) AS ship-service-level#4874L, count(CASE WHEN (isnan(cast(Style#486 as double)) OR isnull(Style#486)) THEN Style END) AS Style#4876L, count(CASE WHEN (isnan(cast(SKU#487 as double)) OR isnull(SKU#487)) THEN SKU END) AS SKU#4878L, count(CASE WHEN (isnan(cast(Category#488 as double)) OR isnull(Category#488)) THEN Category END) AS Category#4880L, count(CASE WHEN (isnan(cast(Size#489 as double)) OR isnull(Size#489)) THEN Size END) AS Size#4882L, count(CASE WHEN (isnan(cast(ASIN#490 as double)) OR isnull(ASIN#490)) THEN ASIN END) AS ASIN#4884L, count(CASE WHEN (isnan(cast(Courier Status#491 as double)) OR isnull(Courier Status#491)) THEN Courier Status END) AS Courier Status#4886L, count(CASE WHEN (isnan(cast(Qty#492 as double)) OR isnull(Qty#492)) THEN Qty END) AS Qty#4888L, count(CASE WHEN (isnan(cast(currency#493 as double)) OR isnull(currency#493)) THEN currency END) AS currency#4890L, count(CASE WHEN (isnan(Amount#494) OR isnull(Amount#494)) THEN Amount END) AS Amount#4892L, count(CASE WHEN (isnan(cast(ship-city#495 as double)) OR isnull(ship-city#495)) THEN ship-city END) AS ship-city#4894L, count(CASE WHEN (isnan(cast(ship-state#496 as double)) OR isnull(ship-state#496)) THEN ship-state END) AS ship-state#4896L, count(CASE WHEN (isnan(ship-postal-code#497) OR isnull(ship-postal-code#497)) THEN ship-postal-code END) AS ship-postal-code#4898L, count(CASE WHEN (isnan(cast(ship-country#498 as double)) OR isnull(ship-country#498)) THEN ship-country END) AS ship-country#4900L, count(CASE WHEN (isnan(cast(promotion-ids#499 as double)) OR isnull(promotion-ids#499)) THEN promotion-ids END) AS promotion-ids#4902L, count(CASE WHEN (isnan(B2B#500) OR isnull(B2B#500)) THEN B2B END) AS B2B#4904, count(CASE WHEN (isnan(cast(fulfilled-by#501 as double)) OR isnull(fulfilled-by#501)) THEN fulfilled-by END) AS fulfilled-by#4906L, count(CASE WHEN (isnan(Unnamed: 22#502) OR isnull(Unnamed: 22#502)) THEN Unnamed: 22 END) AS Unnamed: 22#4908]
+- Relation [index#479,Order ID#480,Date#481,Status#482,Fulfilment#483,Sales Channel #484,ship-service-level#485,Style#486,SKU#487,Category#488,Size#489,ASIN#490,Courier Status#491,Qty#492,currency#493,Amount#494,ship-city#495,ship-state#496,ship-postal-code#497,ship-country#498,promotion-ids#499,B2B#500,fulfilled-by#501,Unnamed: 22#502] csv

In [59]:
from pyspark.sql import functions as F

# Assuming df is your DataFrame
null_counts = df1.select([F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df1.columns])

null_counts.show()

# here we done cast because we want to see the string value also if cin don't error come ue to data type mismatch

+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+-----------+
|index|Order ID|Date|Status|Fulfilment|Sales Channel |ship-service-level|Style|SKU|Category|Size|ASIN|Courier Status|Qty|currency|Amount|ship-city|ship-state|ship-postal-code|ship-country|promotion-ids|B2B|fulfilled-by|Unnamed: 22|
+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+-----------+
|    0|       0|   0|     0|         0|             0|                 0|    0|  0|       0|   0|   0|          6872|  0|    7795|  7795|       33|        33|              33|          33|        49153|  0|       89698|      49050|
+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+-----------+

In [4]:
# .cast("int"):

# The .cast("int") converts the True/False result of isNull() to 1 (for True, meaning the value is null) and 0 (for False, meaning the value is not null).

In [75]:
[                           c for c in df.columns if df.schema[c].datatype not in ['StringType()']]

AttributeError: 'StructField' object has no attribute 'datatype'

In [69]:
df.printSchema()

root
 |-- prdid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)
 |-- category: string (nullable = true)

In [70]:
df.schema['name'].dataType

StringType()

In [71]:
df.schema['price'].dataType

DoubleType()

In [72]:
df1.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Fulfilment: string (nullable = true)
 |-- Sales Channel : string (nullable = true)
 |-- ship-service-level: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- ASIN: string (nullable = true)
 |-- Courier Status: string (nullable = true)
 |-- Qty: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ship-city: string (nullable = true)
 |-- ship-state: string (nullable = true)
 |-- ship-postal-code: double (nullable = true)
 |-- ship-country: string (nullable = true)
 |-- promotion-ids: string (nullable = true)
 |-- B2B: boolean (nullable = true)
 |-- fulfilled-by: string (nullable = true)
 |-- Unnamed: 22: boolean (nullable = true)

In [81]:
non_string_columns = [column for column, dtype in df.dtypes if dtype != 'string']
non_string_df = df.select(non_string_columns)

# very easy

In [91]:
df1.dtypes

[('index', 'int'), ('Order ID', 'string'), ('Date', 'string'), ('Status', 'string'), ('Fulfilment', 'string'), ('Sales Channel ', 'string'), ('ship-service-level', 'string'), ('Style', 'string'), ('SKU', 'string'), ('Category', 'string'), ('Size', 'string'), ('ASIN', 'string'), ('Courier Status', 'string'), ('Qty', 'int'), ('currency', 'string'), ('Amount', 'double'), ('ship-city', 'string'), ('ship-state', 'string'), ('ship-postal-code', 'double'), ('ship-country', 'string'), ('promotion-ids', 'string'), ('B2B', 'boolean'), ('fulfilled-by', 'string'), ('Unnamed: 22', 'boolean')]

In [99]:
non_string_col = [col for col,dtype in df1.dtypes if dtype != 'string' and dtype != 'boolean']

In [100]:
numberic_df1 = df1.select(non_string_col)

In [119]:
numberic_df1.show()

+-----+---+------+----------------+
|index|Qty|Amount|ship-postal-code|
+-----+---+------+----------------+
|    0|  0|647.62|        400081.0|
|    1|  1| 406.0|        560085.0|
|    2|  1| 329.0|        410210.0|
|    3|  0|753.33|        605008.0|
|    4|  1| 574.0|        600073.0|
|    5|  1| 824.0|        201102.0|
|    6|  1| 653.0|        160036.0|
|    7|  1| 399.0|        500032.0|
|    8|  0|  null|        500008.0|
|    9|  1| 363.0|        600041.0|
|   10|  1| 685.0|        600073.0|
|   11|  1| 364.0|        201303.0|
|   12|  1| 399.0|        444606.0|
|   13|  1| 657.0|        400053.0|
|   14|  1| 771.0|        400053.0|
|   15|  1| 544.0|        515801.0|
|   16|  1| 329.0|        302020.0|
|   17|  1| 399.0|        110074.0|
|   18|  1| 458.0|        122004.0|
|   19|  1| 886.0|        560017.0|
+-----+---+------+----------------+
only showing top 20 rows

In [116]:
from pyspark.sql.functions import col, isnan, sum as sum_

In [115]:
numberic_df1.select(sum(isnan(col('Amount'))).alias('NaN_Count'))

TypeError: Column is not iterable

In [120]:
nan_count = numberic_df1.select(sum_(isnan(col('Amount'))).alias('NaN_Count'))

AnalysisException: cannot resolve 'sum(isnan(Amount))' due to data type mismatch: function sum requires numeric or interval types, not boolean;
'Aggregate [sum(isnan(Amount#494)) AS NaN_Count#5642]
+- Project [index#479, Qty#492, Amount#494, ship-postal-code#497]
   +- Relation [index#479,Order ID#480,Date#481,Status#482,Fulfilment#483,Sales Channel #484,ship-service-level#485,Style#486,SKU#487,Category#488,Size#489,ASIN#490,Courier Status#491,Qty#492,currency#493,Amount#494,ship-city#495,ship-state#496,ship-postal-code#497,ship-country#498,promotion-ids#499,B2B#500,fulfilled-by#501,Unnamed: 22#502] csv

In [122]:
nan_count = numberic_df1.select(sum_(isnan(col('Amount')).cast('int')).alias('NaN_Count'))

In [124]:
nan_count.show()

+---------+
|NaN_Count|
+---------+
|        0|
+---------+

In [126]:
# Count the number of null values in each column
nan_counts = numberic_df1.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in numberic_df1.columns])
nan_counts.show()
# null values

+-----+---+------+----------------+
|index|Qty|Amount|ship-postal-code|
+-----+---+------+----------------+
|    0|  0|  7795|              33|
+-----+---+------+----------------+

In [127]:
from pyspark.sql import functions as F

# Count the number of NaN values in each column
nan_counts = numberic_df1.select([F.count(F.when(F.isnan(c), c)).alias(c) for c in numberic_df1.columns])
nan_counts.show()
# NAN values

+-----+---+------+----------------+
|index|Qty|Amount|ship-postal-code|
+-----+---+------+----------------+
|    0|  0|     0|               0|
+-----+---+------+----------------+

In [5]:
# our df(amazon ) has null value and not NAN values in nuumeric data columns

In [141]:
df1.columns
df1.dtypes

[('index', 'int'), ('Order ID', 'string'), ('Date', 'string'), ('Status', 'string'), ('Fulfilment', 'string'), ('Sales Channel ', 'string'), ('ship-service-level', 'string'), ('Style', 'string'), ('SKU', 'string'), ('Category', 'string'), ('Size', 'string'), ('ASIN', 'string'), ('Courier Status', 'string'), ('Qty', 'int'), ('currency', 'string'), ('Amount', 'double'), ('ship-city', 'string'), ('ship-state', 'string'), ('ship-postal-code', 'double'), ('ship-country', 'string'), ('promotion-ids', 'string'), ('B2B', 'boolean'), ('fulfilled-by', 'string'), ('Unnamed: 22', 'boolean')]

In [129]:
df1.show()

+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|   Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|    ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          null|  0|     INR|647.62|     MUMBAI|   MAHARASHTRA|        400081.0|          IN|                null|false|   Easy Ship|       null|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|     KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|   MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        null|       null|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|   J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          null|  0|     INR|753.33| PUDUCHERRY|    PUDUCHERRY|        605008.0|          IN|                null|false|   Easy Ship|       null|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD| UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        null|       null|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|   J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|    CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        null|       null|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|     TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited|  SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    null|  null|  HYDERABAD|     TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        null|       null|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|    TAMIL NADU|        600041.0|          IN|                null|false|        null|       null|
|   10|407-5633625-6970741|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3160|     JNE3160-KR-G-S|        kurta|   S|B07K3YQLF1|       Shipped|  1|     INR| 685.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|   11|171-4638481-6326716|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3500|      JNE3500-KR-XS|        kurta|  XS|B098117DJ3|       Shipped|  1|     INR| 364.0|      NOIDA| UTTAR PRADESH|        201303.0|          IN|                null|false|        null|       null|
|   12|405-5513694-8146768|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|      JNE3405-KR-XS|        kurta|  XS|B081XCMYXJ|       Shipped|  1|     INR| 399.0|  Amravati.|   MAHARASHTRA|        444606.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   13|408-7955685-3083534|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET182|    SET182-KR-DH-XS|          Set|  XS|B085HS947T|       Shipped|  1|     INR| 657.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|                null|false|        null|       null|
|   14|408-1298370-1920302|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|   J0351|        J0351-SET-L|          Set|   L|B09CSSQY4F|       Shipped|  1|     INR| 771.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   15|403-4965581-9520319|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|PJNE3368|    PJNE3368-KR-6XL|        kurta| 6XL|B09PY99SVJ|       Shipped|  1|     INR| 544.0|   GUNTAKAL|ANDHRA PRADESH|        515801.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   16|406-9379318-6555504|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3721|     JNE3721-KR-XXL|        kurta| XXL|B099FCT65D|       Shipped|  1|     INR| 329.0|     JAIPUR|     RAJASTHAN|        302020.0|          IN|IN Core Free Ship...|false|        null|       null|
|   17|405-9013803-8009918|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3405|      JNE3405-KR-XL|        kurta|  XL|B081WT6GG7|       Shipped|  1|     INR| 399.0|  NEW DELHI|         DELHI|        110074.0|          IN|                null|false|        null|       null|
|   18|402-4030358-5835511|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3697|     JNE3697-KR-XXL|        kurta| XXL|B098133PV5|       Shipped|  1|     INR| 458.0|    Gurgaon|       HARYANA|        122004.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   19|405-5957858-1051546|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET254|    SET254-KR-NP-XS|          Set|  XS|B0983DDPL6|       Shipped|  1|     INR| 886.0|  BENGALURU|     KARNATAKA|        560017.0|          IN|                null|false|        null|       null|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 20 rows

In [137]:
df1.groupBy('Status').agg(sum('Amount')).show()

+--------------------+-----------------+
|              Status|      sum(Amount)|
+--------------------+-----------------+
|Shipped - Deliver...|      1.8650815E7|
|Shipped - Returne...|        1269644.0|
|             Shipped|      5.0324255E7|
|           Cancelled|6919284.299999994|
|             Pending|         430271.0|
|Shipped - Rejecte...|           7295.0|
|Shipped - Returni...|         107620.0|
| Shipped - Picked Up|         661252.0|
|Shipped - Out for...|          26971.0|
|Shipped - Lost in...|           1997.0|
|            Shipping|             null|
|   Shipped - Damaged|           1136.0|
|Pending - Waiting...|         192138.0|
+--------------------+-----------------+

In [135]:
from pyspark.sql.functions import sum,avg,min,max,count

In [149]:
df1.groupBy('Status').agg(sum('Amount'),count('Qty')).show()

+--------------------+-----------------+----------+
|              Status|      sum(Amount)|count(Qty)|
+--------------------+-----------------+----------+
|Shipped - Deliver...|      1.8650815E7|     28769|
|Shipped - Returne...|        1269644.0|      1953|
|             Shipped|      5.0324255E7|     77804|
|           Cancelled|6919284.299999995|     18332|
|             Pending|         430271.0|       658|
|Shipped - Rejecte...|           7295.0|        11|
|Shipped - Returni...|         107620.0|       145|
| Shipped - Picked Up|         661252.0|       973|
|Shipped - Out for...|          26971.0|        35|
|Shipped - Lost in...|           1997.0|         5|
|Pending - Waiting...|         192138.0|       281|
|            Shipping|             null|         8|
|   Shipped - Damaged|           1136.0|         1|
+--------------------+-----------------+----------+

In [151]:
df1.groupBy('Status').agg(sum('Amount'),count('Qty'),min('Amount')).show()

+--------------------+-----------------+----------+-----------+
|              Status|      sum(Amount)|count(Qty)|min(Amount)|
+--------------------+-----------------+----------+-----------+
|Shipped - Deliver...|      1.8650815E7|     28769|        0.0|
|Shipped - Returne...|        1269644.0|      1953|        0.0|
|Shipped - Rejecte...|           7295.0|        11|      297.0|
|Shipped - Lost in...|           1997.0|         5|        0.0|
|             Shipped|      5.0324255E7|     77804|        0.0|
|           Cancelled|6919284.299999994|     18332|      218.1|
| Shipped - Picked Up|         661252.0|       973|        0.0|
|Shipped - Returni...|         107620.0|       145|        0.0|
|Shipped - Out for...|          26971.0|        35|      301.0|
|             Pending|         430271.0|       658|        0.0|
|            Shipping|             null|         8|       null|
|   Shipped - Damaged|           1136.0|         1|     1136.0|
|Pending - Waiting...|         192138.0|       281|        0.0|
+--------------------+-----------------+----------+-----------+

In [152]:
df1.groupBy('Fulfilment').count().show()

+----------+-----+
|Fulfilment|count|
+----------+-----+
|    Amazon|89698|
|  Merchant|39277|
+----------+-----+

In [164]:
df1.groupBy('Fulfilment').where(col('ship-city')=='Mumbai').show()

AttributeError: 'GroupedData' object has no attribute 'where'

In [166]:
df1.groupBy('Fulfilment').agg(sum('Amount'),avg('Amount'),max('Amount'),min('Amount')).show()

+----------+--------------------+-----------------+-----------+-----------+
|Fulfilment|         sum(Amount)|      avg(Amount)|max(Amount)|min(Amount)|
+----------+--------------------+-----------------+-----------+-----------+
|    Amazon|         5.4322151E7|649.4835064981647|     5584.0|        0.0|
|  Merchant|2.4270527300000004E7|646.5072134466318|     5495.0|        0.0|
+----------+--------------------+-----------------+-----------+-----------+

In [168]:
df1.groupBy('Fulfilment').agg(sum('Amount'),avg('Amount'),max('Amount'),min('Amount')).where(col('Fulfilment')== 'Amazon').show()

+----------+-----------+-----------------+-----------+-----------+
|Fulfilment|sum(Amount)|      avg(Amount)|max(Amount)|min(Amount)|
+----------+-----------+-----------------+-----------+-----------+
|    Amazon|5.4322151E7|649.4835064981647|     5584.0|        0.0|
+----------+-----------+-----------------+-----------+-----------+

In [169]:
from pyspark.sql.functions import desc, asc

In [170]:
df1.createOrReplaceTempView('sales')

In [172]:
spark1.sql('select * from sales').show()

+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|   Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|    ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          null|  0|     INR|647.62|     MUMBAI|   MAHARASHTRA|        400081.0|          IN|                null|false|   Easy Ship|       null|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|     KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|   MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        null|       null|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|   J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          null|  0|     INR|753.33| PUDUCHERRY|    PUDUCHERRY|        605008.0|          IN|                null|false|   Easy Ship|       null|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD| UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        null|       null|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|   J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|    CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        null|       null|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|     TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited|  SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    null|  null|  HYDERABAD|     TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        null|       null|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|    TAMIL NADU|        600041.0|          IN|                null|false|        null|       null|
|   10|407-5633625-6970741|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3160|     JNE3160-KR-G-S|        kurta|   S|B07K3YQLF1|       Shipped|  1|     INR| 685.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|   11|171-4638481-6326716|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3500|      JNE3500-KR-XS|        kurta|  XS|B098117DJ3|       Shipped|  1|     INR| 364.0|      NOIDA| UTTAR PRADESH|        201303.0|          IN|                null|false|        null|       null|
|   12|405-5513694-8146768|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|      JNE3405-KR-XS|        kurta|  XS|B081XCMYXJ|       Shipped|  1|     INR| 399.0|  Amravati.|   MAHARASHTRA|        444606.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   13|408-7955685-3083534|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET182|    SET182-KR-DH-XS|          Set|  XS|B085HS947T|       Shipped|  1|     INR| 657.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|                null|false|        null|       null|
|   14|408-1298370-1920302|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|   J0351|        J0351-SET-L|          Set|   L|B09CSSQY4F|       Shipped|  1|     INR| 771.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   15|403-4965581-9520319|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|PJNE3368|    PJNE3368-KR-6XL|        kurta| 6XL|B09PY99SVJ|       Shipped|  1|     INR| 544.0|   GUNTAKAL|ANDHRA PRADESH|        515801.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   16|406-9379318-6555504|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3721|     JNE3721-KR-XXL|        kurta| XXL|B099FCT65D|       Shipped|  1|     INR| 329.0|     JAIPUR|     RAJASTHAN|        302020.0|          IN|IN Core Free Ship...|false|        null|       null|
|   17|405-9013803-8009918|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3405|      JNE3405-KR-XL|        kurta|  XL|B081WT6GG7|       Shipped|  1|     INR| 399.0|  NEW DELHI|         DELHI|        110074.0|          IN|                null|false|        null|       null|
|   18|402-4030358-5835511|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3697|     JNE3697-KR-XXL|        kurta| XXL|B098133PV5|       Shipped|  1|     INR| 458.0|    Gurgaon|       HARYANA|        122004.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   19|405-5957858-1051546|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET254|    SET254-KR-NP-XS|          Set|  XS|B0983DDPL6|       Shipped|  1|     INR| 886.0|  BENGALURU|     KARNATAKA|        560017.0|          IN|                null|false|        null|       null|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 20 rows

In [173]:
spark1.sql("select `ship-city`,count(*) from sales group By `ship-city` order by count(*) desc").show()

+-------------+--------+
|    ship-city|count(1)|
+-------------+--------+
|    BENGALURU|   11217|
|    HYDERABAD|    8074|
|       MUMBAI|    6126|
|    NEW DELHI|    5795|
|      CHENNAI|    5421|
|         PUNE|    3857|
|      KOLKATA|    2381|
|     GURUGRAM|    1868|
|        THANE|    1701|
|      LUCKNOW|    1458|
|        NOIDA|    1419|
|    GHAZIABAD|    1328|
|  NAVI MUMBAI|    1263|
|    AHMEDABAD|    1236|
|       JAIPUR|     948|
|    Hyderabad|     919|
|       Mumbai|     868|
|   COIMBATORE|     768|
|        PATNA|     764|
|VISAKHAPATNAM|     761|
+-------------+--------+
only showing top 20 rows