In [2]:
import pandas as pd

In [3]:
from pyspark.sql import SparkSession

In [4]:
Spark1 = SparkSession.builder.appName('Dev').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/10/11 02:45:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
Spark1

In [6]:
data = [('shubham','sales',432636),
        ('omkar','IT',435763),
        ('sahil','HR',923535),
        ('om','marketing',9422384),
        ('omkar','IT',435763),
        ('sahil','HR',923535),
        ('om','marketing',9422384),
        ('NAN','HR',546575),
        ('rohan','IT',0),
        ('ram','NAN',54765),
        ('','',0)
        
]

In [7]:
column = ['name','department','salary']

In [8]:
df = Spark1.createDataFrame(data,schema=column)

In [9]:
df.show()

+-------+----------+-------+
|   name|department| salary|
+-------+----------+-------+
|shubham|     sales| 432636|
|  omkar|        IT| 435763|
|  sahil|        HR| 923535|
|     om| marketing|9422384|
|  omkar|        IT| 435763|
|  sahil|        HR| 923535|
|     om| marketing|9422384|
|    NAN|        HR| 546575|
|  rohan|        IT|      0|
|    ram|       NAN|  54765|
|       |          |      0|
+-------+----------+-------+

In [10]:
df.select('name','salary').show()

+-------+-------+
|   name| salary|
+-------+-------+
|shubham| 432636|
|  omkar| 435763|
|  sahil| 923535|
|     om|9422384|
|  omkar| 435763|
|  sahil| 923535|
|     om|9422384|
|    NAN| 546575|
|  rohan|      0|
|    ram|  54765|
|       |      0|
+-------+-------+

In [11]:
df.select(['name','salary']).show()  #good practice

+-------+-------+
|   name| salary|
+-------+-------+
|shubham| 432636|
|  omkar| 435763|
|  sahil| 923535|
|     om|9422384|
|  omkar| 435763|
|  sahil| 923535|
|     om|9422384|
|    NAN| 546575|
|  rohan|      0|
|    ram|  54765|
|       |      0|
+-------+-------+

In [12]:
#add new column
#3 ways 
# 1. existing using with
# sql query
# functions

In [13]:
df.withColumn('salary_new',df.salary*0.2).show()

+-------+----------+-------+-----------------+
|   name|department| salary|       salary_new|
+-------+----------+-------+-----------------+
|shubham|     sales| 432636|86527.20000000001|
|  omkar|        IT| 435763|          87152.6|
|  sahil|        HR| 923535|         184707.0|
|     om| marketing|9422384|        1884476.8|
|  omkar|        IT| 435763|          87152.6|
|  sahil|        HR| 923535|         184707.0|
|     om| marketing|9422384|        1884476.8|
|    NAN|        HR| 546575|         109315.0|
|  rohan|        IT|      0|              0.0|
|    ram|       NAN|  54765|          10953.0|
|       |          |      0|              0.0|
+-------+----------+-------+-----------------+

In [14]:
# if you want to make new df then save it without using .show() then use it as using df
df_new = df.withColumn('salary_new',df.salary*0.2)

In [15]:
df_new.show()

+-------+----------+-------+-----------------+
|   name|department| salary|       salary_new|
+-------+----------+-------+-----------------+
|shubham|     sales| 432636|86527.20000000001|
|  omkar|        IT| 435763|          87152.6|
|  sahil|        HR| 923535|         184707.0|
|     om| marketing|9422384|        1884476.8|
|  omkar|        IT| 435763|          87152.6|
|  sahil|        HR| 923535|         184707.0|
|     om| marketing|9422384|        1884476.8|
|    NAN|        HR| 546575|         109315.0|
|  rohan|        IT|      0|              0.0|
|    ram|       NAN|  54765|          10953.0|
|       |          |      0|              0.0|
+-------+----------+-------+-----------------+

In [16]:
df_new['name'].show()

TypeError: 'Column' object is not callable

In [17]:
df_new.select('salary_new').show()

+-----------------+
|       salary_new|
+-----------------+
|86527.20000000001|
|          87152.6|
|         184707.0|
|        1884476.8|
|          87152.6|
|         184707.0|
|        1884476.8|
|         109315.0|
|              0.0|
|          10953.0|
|              0.0|
+-----------------+

In [18]:
#back to df

In [19]:
df

DataFrame[name: string, department: string, salary: bigint]

In [20]:
from pyspark.sql.functions import current_date,date_format,to_timestamp,current_timestamp,lit,when

In [21]:
#i repeatingi guess, infact to make some topic to make strong

In [22]:
df.withColumn('date_time',current_date()).show()

+-------+----------+-------+----------+
|   name|department| salary| date_time|
+-------+----------+-------+----------+
|shubham|     sales| 432636|2024-10-11|
|  omkar|        IT| 435763|2024-10-11|
|  sahil|        HR| 923535|2024-10-11|
|     om| marketing|9422384|2024-10-11|
|  omkar|        IT| 435763|2024-10-11|
|  sahil|        HR| 923535|2024-10-11|
|     om| marketing|9422384|2024-10-11|
|    NAN|        HR| 546575|2024-10-11|
|  rohan|        IT|      0|2024-10-11|
|    ram|       NAN|  54765|2024-10-11|
|       |          |      0|2024-10-11|
+-------+----------+-------+----------+

In [23]:
df.withColumn('update_date',to_timestamp(current_timestamp(),'dd-mm-YY')).show()

+-------+----------+-------+--------------------+
|   name|department| salary|         update_date|
+-------+----------+-------+--------------------+
|shubham|     sales| 432636|2024-10-11 02:45:...|
|  omkar|        IT| 435763|2024-10-11 02:45:...|
|  sahil|        HR| 923535|2024-10-11 02:45:...|
|     om| marketing|9422384|2024-10-11 02:45:...|
|  omkar|        IT| 435763|2024-10-11 02:45:...|
|  sahil|        HR| 923535|2024-10-11 02:45:...|
|     om| marketing|9422384|2024-10-11 02:45:...|
|    NAN|        HR| 546575|2024-10-11 02:45:...|
|  rohan|        IT|      0|2024-10-11 02:45:...|
|    ram|       NAN|  54765|2024-10-11 02:45:...|
|       |          |      0|2024-10-11 02:45:...|
+-------+----------+-------+--------------------+

In [24]:
# if i am repeating this so god is telling me that you need to this in future

In [25]:
#create a views

In [26]:
df.createOrReplaceTempView('emp')

In [27]:
Spark1.sql('select * from emp').show()

+-------+----------+-------+
|   name|department| salary|
+-------+----------+-------+
|shubham|     sales| 432636|
|  omkar|        IT| 435763|
|  sahil|        HR| 923535|
|     om| marketing|9422384|
|  omkar|        IT| 435763|
|  sahil|        HR| 923535|
|     om| marketing|9422384|
|    NAN|        HR| 546575|
|  rohan|        IT|      0|
|    ram|       NAN|  54765|
|       |          |      0|
+-------+----------+-------+

In [28]:
Spark1.sql('select * from emp where salary >500000').show()

+-----+----------+-------+
| name|department| salary|
+-----+----------+-------+
|sahil|        HR| 923535|
|   om| marketing|9422384|
|sahil|        HR| 923535|
|   om| marketing|9422384|
|  NAN|        HR| 546575|
+-----+----------+-------+

In [29]:
df.withColumn('bonus',when(df.salary > 500000,'High').otherwise('low')).show()

+-------+----------+-------+-----+
|   name|department| salary|bonus|
+-------+----------+-------+-----+
|shubham|     sales| 432636|  low|
|  omkar|        IT| 435763|  low|
|  sahil|        HR| 923535| High|
|     om| marketing|9422384| High|
|  omkar|        IT| 435763|  low|
|  sahil|        HR| 923535| High|
|     om| marketing|9422384| High|
|    NAN|        HR| 546575| High|
|  rohan|        IT|      0|  low|
|    ram|       NAN|  54765|  low|
|       |          |      0|  low|
+-------+----------+-------+-----+

In [30]:
df.salary.dtype

Column<'salary[dtype]'>

In [31]:
df.dtypes

[('name', 'string'), ('department', 'string'), ('salary', 'bigint')]

In [32]:
# read csv

In [46]:
df = Spark1.read.csv('s3://shubhnaa/prod.csv',header=True,inferSchema=True)

24/10/11 02:50:49 WARN FileStreamSink: Assume no metadata directory. Error while looking for metadata directory in the path: s3://shubhnaa/prod.csv.
org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "s3"
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3443)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.streaming.FileStreamSink$.hasMetadata(FileStreamSink.scala:53)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:370)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:537)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

Py4JJavaError: An error occurred while calling o157.csv.
: org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "s3"
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3443)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$checkAndGlobPathIfNecessary$1(DataSource.scala:752)
	at scala.collection.immutable.List.map(List.scala:293)
	at org.apache.spark.sql.execution.datasources.DataSource$.checkAndGlobPathIfNecessary(DataSource.scala:750)
	at org.apache.spark.sql.execution.datasources.DataSource.checkAndGlobPathIfNecessary(DataSource.scala:579)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:408)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:537)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)