# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [4]:
from pyspark.sql import SparkSession

In [10]:
spark1 = SparkSession.builder.appName('Dev').getOrCreate()

In [11]:
emp_data = [
    (1, "Alice", 101, 5000),
    (2, "Bob", 102, 6000),
    (3, "Charlie", 101, 5500),
    (4, "David", 103, 6200),
    (5, "Eve", None, 5000),
    (6, "Frank", 104, 7000)
]

In [12]:
dep_data = [
    (101, "HR",'pune'),
    (102, "IT",'solapur'),
    (103, "Finance",'UP'),
    (105, "Marketing",'punjab')
]

In [20]:
df1 = spark1.createDataFrame(emp_data, ['empid','name','depid','salary'])

In [21]:
df1.show()

+-----+-------+-----+------+
|empid|   name|depid|salary|
+-----+-------+-----+------+
|    1|  Alice|  101|  5000|
|    2|    Bob|  102|  6000|
|    3|Charlie|  101|  5500|
|    4|  David|  103|  6200|
|    5|    Eve| null|  5000|
|    6|  Frank|  104|  7000|
+-----+-------+-----+------+

In [22]:
df2 = spark1.createDataFrame(dep_data,['depid','dept','city'])

In [23]:
df2.show()

+-----+---------+-------+
|depid|     dept|   city|
+-----+---------+-------+
|  101|       HR|   pune|
|  102|       IT|solapur|
|  103|  Finance|     UP|
|  105|Marketing| punjab|
+-----+---------+-------+

In [25]:
df1.join(df2).show()  #i guess cross join

+-----+-------+-----+------+-----+---------+-------+
|empid|   name|depid|salary|depid|     dept|   city|
+-----+-------+-----+------+-----+---------+-------+
|    1|  Alice|  101|  5000|  101|       HR|   pune|
|    1|  Alice|  101|  5000|  102|       IT|solapur|
|    1|  Alice|  101|  5000|  103|  Finance|     UP|
|    1|  Alice|  101|  5000|  105|Marketing| punjab|
|    2|    Bob|  102|  6000|  101|       HR|   pune|
|    2|    Bob|  102|  6000|  102|       IT|solapur|
|    2|    Bob|  102|  6000|  103|  Finance|     UP|
|    2|    Bob|  102|  6000|  105|Marketing| punjab|
|    3|Charlie|  101|  5500|  101|       HR|   pune|
|    3|Charlie|  101|  5500|  102|       IT|solapur|
|    3|Charlie|  101|  5500|  103|  Finance|     UP|
|    3|Charlie|  101|  5500|  105|Marketing| punjab|
|    4|  David|  103|  6200|  101|       HR|   pune|
|    4|  David|  103|  6200|  102|       IT|solapur|
|    4|  David|  103|  6200|  103|  Finance|     UP|
|    4|  David|  103|  6200|  105|Marketing| punjab|
|    5|    Eve| null|  5000|  101|       HR|   pune|
|    5|    Eve| null|  5000|  102|       IT|solapur|
|    5|    Eve| null|  5000|  103|  Finance|     UP|
|    5|    Eve| null|  5000|  105|Marketing| punjab|
+-----+-------+-----+------+-----+---------+-------+
only showing top 20 rows

In [28]:
df1.join(df2,df1.depid == df2.depid,'inner').show()

+-----+-------+-----+------+-----+-------+-------+
|empid|   name|depid|salary|depid|   dept|   city|
+-----+-------+-----+------+-----+-------+-------+
|    4|  David|  103|  6200|  103|Finance|     UP|
|    3|Charlie|  101|  5500|  101|     HR|   pune|
|    1|  Alice|  101|  5000|  101|     HR|   pune|
|    2|    Bob|  102|  6000|  102|     IT|solapur|
+-----+-------+-----+------+-----+-------+-------+

In [29]:
df1.join(df2,df1.depid == df2.depid,'outer').show()

+-----+-------+-----+------+-----+---------+-------+
|empid|   name|depid|salary|depid|     dept|   city|
+-----+-------+-----+------+-----+---------+-------+
|    5|    Eve| null|  5000| null|     null|   null|
|    3|Charlie|  101|  5500|  101|       HR|   pune|
|    1|  Alice|  101|  5000|  101|       HR|   pune|
|    2|    Bob|  102|  6000|  102|       IT|solapur|
|    4|  David|  103|  6200|  103|  Finance|     UP|
|    6|  Frank|  104|  7000| null|     null|   null|
| null|   null| null|  null|  105|Marketing| punjab|
+-----+-------+-----+------+-----+---------+-------+

In [31]:
df1.join(df2,df1.depid == df2.depid,'leftouter').show()

+-----+-------+-----+------+-----+-------+-------+
|empid|   name|depid|salary|depid|   dept|   city|
+-----+-------+-----+------+-----+-------+-------+
|    3|Charlie|  101|  5500|  101|     HR|   pune|
|    6|  Frank|  104|  7000| null|   null|   null|
|    1|  Alice|  101|  5000|  101|     HR|   pune|
|    4|  David|  103|  6200|  103|Finance|     UP|
|    2|    Bob|  102|  6000|  102|     IT|solapur|
|    5|    Eve| null|  5000| null|   null|   null|
+-----+-------+-----+------+-----+-------+-------+

In [38]:
df1.join(df2,df1.depid == df2.depid,'rightouter').show()

+-----+-------+-----+------+-----+---------+-------+
|empid|   name|depid|salary|depid|     dept|   city|
+-----+-------+-----+------+-----+---------+-------+
|    2|    Bob|  102|  6000|  102|       IT|solapur|
|    4|  David|  103|  6200|  103|  Finance|     UP|
| null|   null| null|  null|  105|Marketing| punjab|
|    1|  Alice|  101|  5000|  101|       HR|   pune|
|    3|Charlie|  101|  5500|  101|       HR|   pune|
+-----+-------+-----+------+-----+---------+-------+

In [35]:
df1.show()

+-----+-------+-----+------+
|empid|   name|depid|salary|
+-----+-------+-----+------+
|    1|  Alice|  101|  5000|
|    2|    Bob|  102|  6000|
|    3|Charlie|  101|  5500|
|    4|  David|  103|  6200|
|    5|    Eve| null|  5000|
|    6|  Frank|  104|  7000|
+-----+-------+-----+------+

In [36]:
df2.show()

+-----+---------+-------+
|depid|     dept|   city|
+-----+---------+-------+
|  101|       HR|   pune|
|  102|       IT|solapur|
|  103|  Finance|     UP|
|  105|Marketing| punjab|
+-----+---------+-------+

In [46]:
df1.join(df2,df1.depid == df2.depid,'inner').select(['name','salary','dept','city']).show()
#

+-------+------+-------+-------+
|   name|salary|   dept|   city|
+-------+------+-------+-------+
|Charlie|  5500|     HR|   pune|
|  Alice|  5000|     HR|   pune|
|  David|  6200|Finance|     UP|
|    Bob|  6000|     IT|solapur|
+-------+------+-------+-------+

In [49]:
df1.join(df2,df1.depid == df2.depid,'inner').select(['name','depid','salary','dept','city']).show()

AnalysisException: Reference 'depid' is ambiguous, could be: depid, depid.

In [50]:
df1.join(df2,df1.depid == df2.depid,'inner').select(['name',df1.depid,'salary','dept','city']).show()
# 'depid'  --> ambiguous

+-------+-----+------+-------+-------+
|   name|depid|salary|   dept|   city|
+-------+-----+------+-------+-------+
|Charlie|  101|  5500|     HR|   pune|
|  Alice|  101|  5000|     HR|   pune|
|    Bob|  102|  6000|     IT|solapur|
|  David|  103|  6200|Finance|     UP|
+-------+-----+------+-------+-------+

In [52]:
df1.join(df2,df1.depid == df2.depid,'inner').select(['name',df1.depid,'salary','dept','city']).createOrReplaceTempView('emp')

In [54]:
spark1.sql('select * from emp').show()

+-------+-----+------+-------+-------+
|   name|depid|salary|   dept|   city|
+-------+-----+------+-------+-------+
|    Bob|  102|  6000|     IT|solapur|
|  Alice|  101|  5000|     HR|   pune|
|Charlie|  101|  5500|     HR|   pune|
|  David|  103|  6200|Finance|     UP|
+-------+-----+------+-------+-------+

In [55]:
df1.createOrReplaceTempView('emp')

In [57]:
df2.createOrReplaceTempView('dept')

In [59]:
spark1.sql('select * from emp e inner join dept d on e.depid = d.depid ').show()

+-----+-------+-----+------+-----+-------+-------+
|empid|   name|depid|salary|depid|   dept|   city|
+-----+-------+-----+------+-----+-------+-------+
|    1|  Alice|  101|  5000|  101|     HR|   pune|
|    3|Charlie|  101|  5500|  101|     HR|   pune|
|    2|    Bob|  102|  6000|  102|     IT|solapur|
|    4|  David|  103|  6200|  103|Finance|     UP|
+-----+-------+-----+------+-----+-------+-------+