In [90]:
data = [
    (107, "Sam Green", 48000, "HR", "2001-12-05"),
    (101, "John Doe", 50000, "HR", "2002-01-15"),
    (109, "Jack Black", 52000, "HR", "2002-03-22"),
    (110, "Anna Scott", 52000, "Finance", "2002-06-30"),
    (103, "Bob Brown", 55000, "HR", "2002-07-25"),
    (102, "Jane Smith", 60000, "Finance", "2002-09-10"),
    (105, "Tom Clark", 62000, "Finance", "2002-11-05"),
    (108, "Lucy Gray", 67000, "Engineering", "2003-01-12"),
    (106, "Eva Adams", 70000, "Engineering", "2003-03-18"),
    (104, "Lisa White", 75000, "Engineering", "2003-04-30"),
]

columns = ['empid', 'name', 'salary', 'department','Date']

In [32]:
from pyspark.sql import SparkSession

In [33]:
spark1 = SparkSession.builder.appName('dev').getOrCreate()

In [91]:
df = spark1.createDataFrame(data,schema=columns)

In [92]:
df.show()

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  107| Sam Green| 48000|         HR|2001-12-05|
|  101|  John Doe| 50000|         HR|2002-01-15|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  104|Lisa White| 75000|Engineering|2003-04-30|
+-----+----------+------+-----------+----------+

In [93]:
df.filter(col('salary') > 50000).show()

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  104|Lisa White| 75000|Engineering|2003-04-30|
+-----+----------+------+-----------+----------+

In [94]:
from pyspark.sql.functions import col

In [10]:
#window function
# window function is apply to aggregate and ranking functions over a particular window
# window then over use it

In [95]:
from pyspark.sql import Window

In [96]:
from pyspark.sql.functions import rank, dense_rank, row_number

In [97]:
partition_dept = Window.partitionBy('department').orderBy('salary')

In [98]:
df.show()

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  107| Sam Green| 48000|         HR|2001-12-05|
|  101|  John Doe| 50000|         HR|2002-01-15|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  104|Lisa White| 75000|Engineering|2003-04-30|
+-----+----------+------+-----------+----------+

In [99]:
df.withColumn('dense-rank',dense_rank().over(partition_dept)).show()

+-----+----------+------+-----------+----------+----------+
|empid|      name|salary| department|      Date|dense-rank|
+-----+----------+------+-----------+----------+----------+
|  108| Lucy Gray| 67000|Engineering|2003-01-12|         1|
|  106| Eva Adams| 70000|Engineering|2003-03-18|         2|
|  104|Lisa White| 75000|Engineering|2003-04-30|         3|
|  110|Anna Scott| 52000|    Finance|2002-06-30|         1|
|  102|Jane Smith| 60000|    Finance|2002-09-10|         2|
|  105| Tom Clark| 62000|    Finance|2002-11-05|         3|
|  107| Sam Green| 48000|         HR|2001-12-05|         1|
|  101|  John Doe| 50000|         HR|2002-01-15|         2|
|  109|Jack Black| 52000|         HR|2002-03-22|         3|
|  103| Bob Brown| 55000|         HR|2002-07-25|         4|
+-----+----------+------+-----------+----------+----------+

In [100]:
# continue front 

df.withColumn('dense-rank',dense_rank().over(partition_dept)).withColumn('rank',rank().over(partition_dept)).withColumn('row-number',row_number().over(partition_dept)).show()

+-----+----------+------+-----------+----------+----------+----+----------+
|empid|      name|salary| department|      Date|dense-rank|rank|row-number|
+-----+----------+------+-----------+----------+----------+----+----------+
|  108| Lucy Gray| 67000|Engineering|2003-01-12|         1|   1|         1|
|  106| Eva Adams| 70000|Engineering|2003-03-18|         2|   2|         2|
|  104|Lisa White| 75000|Engineering|2003-04-30|         3|   3|         3|
|  110|Anna Scott| 52000|    Finance|2002-06-30|         1|   1|         1|
|  102|Jane Smith| 60000|    Finance|2002-09-10|         2|   2|         2|
|  105| Tom Clark| 62000|    Finance|2002-11-05|         3|   3|         3|
|  107| Sam Green| 48000|         HR|2001-12-05|         1|   1|         1|
|  101|  John Doe| 50000|         HR|2002-01-15|         2|   2|         2|
|  109|Jack Black| 52000|         HR|2002-03-22|         3|   3|         3|
|  103| Bob Brown| 55000|         HR|2002-07-25|         4|   4|         4|
+-----+----------+------+-----------+----------+----------+----+----------+

In [11]:
#as you can see orderBy is asc on salary

In [101]:
from pyspark.sql.functions import desc

In [102]:
partition_window = Window.partitionBy('department').orderBy(desc('salary'))

In [103]:
df.withColumn('rank',rank().over(partition_window)).show()

+-----+----------+------+-----------+----------+----+
|empid|      name|salary| department|      Date|rank|
+-----+----------+------+-----------+----------+----+
|  104|Lisa White| 75000|Engineering|2003-04-30|   1|
|  106| Eva Adams| 70000|Engineering|2003-03-18|   2|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|   3|
|  105| Tom Clark| 62000|    Finance|2002-11-05|   1|
|  102|Jane Smith| 60000|    Finance|2002-09-10|   2|
|  110|Anna Scott| 52000|    Finance|2002-06-30|   3|
|  103| Bob Brown| 55000|         HR|2002-07-25|   1|
|  109|Jack Black| 52000|         HR|2002-03-22|   2|
|  101|  John Doe| 50000|         HR|2002-01-15|   3|
|  107| Sam Green| 48000|         HR|2001-12-05|   4|
+-----+----------+------+-----------+----------+----+

In [12]:
# without window function

In [104]:
df.select('salary').distinct().orderBy(col('salary').desc()).take(3)[-1]

Row(salary=67000)

In [105]:
df.filter(col('salary') == 67000).show()

+-----+---------+------+-----------+----------+
|empid|     name|salary| department|      Date|
+-----+---------+------+-----------+----------+
|  108|Lucy Gray| 67000|Engineering|2003-01-12|
+-----+---------+------+-----------+----------+

In [106]:
df.orderBy('salary').orderBy('empid').show() #not working don't look

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  101|  John Doe| 50000|         HR|2002-01-15|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  104|Lisa White| 75000|Engineering|2003-04-30|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  107| Sam Green| 48000|         HR|2001-12-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
+-----+----------+------+-----------+----------+

In [107]:
df.orderBy(col('salary').desc()).orderBy(col('empid').desc()).show()  #not working don't look

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  107| Sam Green| 48000|         HR|2001-12-05|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  104|Lisa White| 75000|Engineering|2003-04-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  101|  John Doe| 50000|         HR|2002-01-15|
+-----+----------+------+-----------+----------+

In [108]:
df.orderBy(['salary','empid']).show()   #worked

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  107| Sam Green| 48000|         HR|2001-12-05|
|  101|  John Doe| 50000|         HR|2002-01-15|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  104|Lisa White| 75000|Engineering|2003-04-30|
+-----+----------+------+-----------+----------+

In [13]:
#spliting Columns

In [109]:
data

[(107, 'Sam Green', 48000, 'HR', '2001-12-05'), (101, 'John Doe', 50000, 'HR', '2002-01-15'), (109, 'Jack Black', 52000, 'HR', '2002-03-22'), (110, 'Anna Scott', 52000, 'Finance', '2002-06-30'), (103, 'Bob Brown', 55000, 'HR', '2002-07-25'), (102, 'Jane Smith', 60000, 'Finance', '2002-09-10'), (105, 'Tom Clark', 62000, 'Finance', '2002-11-05'), (108, 'Lucy Gray', 67000, 'Engineering', '2003-01-12'), (106, 'Eva Adams', 70000, 'Engineering', '2003-03-18'), (104, 'Lisa White', 75000, 'Engineering', '2003-04-30')]

In [14]:
# in pandas we were doing it by .split('-')[-1]

In [110]:
df.show()

+-----+----------+------+-----------+----------+
|empid|      name|salary| department|      Date|
+-----+----------+------+-----------+----------+
|  107| Sam Green| 48000|         HR|2001-12-05|
|  101|  John Doe| 50000|         HR|2002-01-15|
|  109|Jack Black| 52000|         HR|2002-03-22|
|  110|Anna Scott| 52000|    Finance|2002-06-30|
|  103| Bob Brown| 55000|         HR|2002-07-25|
|  102|Jane Smith| 60000|    Finance|2002-09-10|
|  105| Tom Clark| 62000|    Finance|2002-11-05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|
|  106| Eva Adams| 70000|Engineering|2003-03-18|
|  104|Lisa White| 75000|Engineering|2003-04-30|
+-----+----------+------+-----------+----------+

In [127]:
from pyspark.sql.functions import split

In [113]:
df.withColumn('year',split(df['Date'],'-')[-1]).show()

+-----+----------+------+-----------+----------+----+
|empid|      name|salary| department|      Date|year|
+-----+----------+------+-----------+----------+----+
|  107| Sam Green| 48000|         HR|2001-12-05|null|
|  101|  John Doe| 50000|         HR|2002-01-15|null|
|  109|Jack Black| 52000|         HR|2002-03-22|null|
|  110|Anna Scott| 52000|    Finance|2002-06-30|null|
|  103| Bob Brown| 55000|         HR|2002-07-25|null|
|  102|Jane Smith| 60000|    Finance|2002-09-10|null|
|  105| Tom Clark| 62000|    Finance|2002-11-05|null|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|null|
|  106| Eva Adams| 70000|Engineering|2003-03-18|null|
|  104|Lisa White| 75000|Engineering|2003-04-30|null|
+-----+----------+------+-----------+----------+----+

In [138]:
df.withColumn('year', split(df['Date'], '-').getItem(0)).show()

+-----+----------+------+-----------+----------+----+
|empid|      name|salary| department|      Date|year|
+-----+----------+------+-----------+----------+----+
|  107| Sam Green| 48000|         HR|2001-12-05|2001|
|  101|  John Doe| 50000|         HR|2002-01-15|2002|
|  109|Jack Black| 52000|         HR|2002-03-22|2002|
|  110|Anna Scott| 52000|    Finance|2002-06-30|2002|
|  103| Bob Brown| 55000|         HR|2002-07-25|2002|
|  102|Jane Smith| 60000|    Finance|2002-09-10|2002|
|  105| Tom Clark| 62000|    Finance|2002-11-05|2002|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|2003|
|  106| Eva Adams| 70000|Engineering|2003-03-18|2003|
|  104|Lisa White| 75000|Engineering|2003-04-30|2003|
+-----+----------+------+-----------+----------+----+

In [139]:
df.withColumn('day',split('date','-').getItem(2)).show()

+-----+----------+------+-----------+----------+---+
|empid|      name|salary| department|      Date|day|
+-----+----------+------+-----------+----------+---+
|  107| Sam Green| 48000|         HR|2001-12-05| 05|
|  101|  John Doe| 50000|         HR|2002-01-15| 15|
|  109|Jack Black| 52000|         HR|2002-03-22| 22|
|  110|Anna Scott| 52000|    Finance|2002-06-30| 30|
|  103| Bob Brown| 55000|         HR|2002-07-25| 25|
|  102|Jane Smith| 60000|    Finance|2002-09-10| 10|
|  105| Tom Clark| 62000|    Finance|2002-11-05| 05|
|  108| Lucy Gray| 67000|Engineering|2003-01-12| 12|
|  106| Eva Adams| 70000|Engineering|2003-03-18| 18|
|  104|Lisa White| 75000|Engineering|2003-04-30| 30|
+-----+----------+------+-----------+----------+---+

In [140]:
df.withColumn('year', split(df['Date'], '-').getItem(0)).withColumn('day',split('date','-').getItem(2)).withColumn('month',split('date','-').getItem(1)).show()

+-----+----------+------+-----------+----------+----+---+-----+
|empid|      name|salary| department|      Date|year|day|month|
+-----+----------+------+-----------+----------+----+---+-----+
|  107| Sam Green| 48000|         HR|2001-12-05|2001| 05|   12|
|  101|  John Doe| 50000|         HR|2002-01-15|2002| 15|   01|
|  109|Jack Black| 52000|         HR|2002-03-22|2002| 22|   03|
|  110|Anna Scott| 52000|    Finance|2002-06-30|2002| 30|   06|
|  103| Bob Brown| 55000|         HR|2002-07-25|2002| 25|   07|
|  102|Jane Smith| 60000|    Finance|2002-09-10|2002| 10|   09|
|  105| Tom Clark| 62000|    Finance|2002-11-05|2002| 05|   11|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|2003| 12|   01|
|  106| Eva Adams| 70000|Engineering|2003-03-18|2003| 18|   03|
|  104|Lisa White| 75000|Engineering|2003-04-30|2003| 30|   04|
+-----+----------+------+-----------+----------+----+---+-----+

In [141]:
part_dep = Window.partitionBy('department').orderBy(col('salary').desc())

In [149]:
df.withColumn('dense_rank',dense_rank().over(part_dep)).show()

+-----+----------+------+-----------+----------+----------+
|empid|      name|salary| department|      Date|dense_rank|
+-----+----------+------+-----------+----------+----------+
|  104|Lisa White| 75000|Engineering|2003-04-30|         1|
|  106| Eva Adams| 70000|Engineering|2003-03-18|         2|
|  108| Lucy Gray| 67000|Engineering|2003-01-12|         3|
|  105| Tom Clark| 62000|    Finance|2002-11-05|         1|
|  102|Jane Smith| 60000|    Finance|2002-09-10|         2|
|  110|Anna Scott| 52000|    Finance|2002-06-30|         3|
|  103| Bob Brown| 55000|         HR|2002-07-25|         1|
|  109|Jack Black| 52000|         HR|2002-03-22|         2|
|  101|  John Doe| 50000|         HR|2002-01-15|         3|
|  107| Sam Green| 48000|         HR|2001-12-05|         4|
+-----+----------+------+-----------+----------+----------+

In [150]:
df.withColumn('dense_rank',dense_rank().over(part_dep)).filter(col('dense_rank')==2).show()

+-----+----------+------+-----------+----------+----------+
|empid|      name|salary| department|      Date|dense_rank|
+-----+----------+------+-----------+----------+----------+
|  106| Eva Adams| 70000|Engineering|2003-03-18|         2|
|  102|Jane Smith| 60000|    Finance|2002-09-10|         2|
|  109|Jack Black| 52000|         HR|2002-03-22|         2|
+-----+----------+------+-----------+----------+----------+